@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    
    font-family: 'Noto Sans', sans-serif;
}
footer{
    background-color: #1a1a1a;
    color:#faf7f7;
}
footer p{
    text-align: center;
    padding: 50px;
}
section{
    margin: 0 auto;
    max-width: 1200px;
}
.logotipo, .itensrodape, .sociais{
    display: inline-block;
    width: 33%;
    text-align: center;
}
footer .menurodape{
    background-color: #f7f7f7;
    color: #1a1a1a;
}
footer .itensrodape a, footer .sociais{
    color: #1a1a1a;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 900;
}
.sociais ul li i{
    font-size: 40px;
    color: #1a1a1a;
}
.sociais ul li{
    display: inline-block;
}

.localizacao .endereco, .localizacao .mapa{
    width: 49%;
    display: inline-block;
    padding-top: 40px;
    text-align: center;
}

.endereco h2{
    font-size: 40px;
    font-weight: 900;
}

.endereco p{
    padding: 20px;
    line-height: 25px;
    font-size: 22px;
}
a:hover{
    opacity: 0.7;
    transition: 0.5s;
}
a{
    opacity: 1;
    transition: 0.3s;
}
.btnBlack{
    color: #f7f7f7;
    background-color: #0b0a0a;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
}
.maisAtracoes{
    text-align: center;
    padding: 100px 0;
}
.destaque{
    width: 350px;
    border-radius: 180px;
    height: 350px;
    overflow: hidden;
    display: inline-block;
    float: left;
}
.destaque img{
    min-height: 100%;
}
.descricao{
    display: inline-block;
    width: 800px;
    font-size: 22px;
    padding: 20px;
    margin-top: 40px;
    text-align: justify;
    color: #fff;
}
.descricao h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}
.projeto1{
    background-image: url('../img/images.jpg');
}
.projetos{
    background-size: cover;
    width: 100%;
    height: 600px;
    content: "";
    background-position: center 33%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -99;
    position: absolute;
}
.bg{
    background-color: #1a1a1ad4;
    
}